### Merging all Contracting Data from 2018 to 2019 in one file ###

In [1]:
#importing dependencies
import pandas as pd

In [2]:
#define the directory path where each original file is located
directory_path = "F:\FAU PhD\DISSERTATION\DATABASES\DataTESTS\Oct.23.2023.Test\\"

In [3]:
#read each original csv file into a a Pandas DataFrame
df_2018 = pd.read_csv(directory_path + "All_2018_Contracting.csv")
df_2019 = pd.read_csv(directory_path + "All_2019_Contracting.csv")

C:\Users\mjndo\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
#check that the 2015 data has correctly transferred from csv files into DataFrames. 
df_2018.head()

,Businessname,businessdba,Businessuei,businessduns,Phone,City,State,ZipCode,NAICS,NAICSDescription,...,jointVenture_WOSB,jointVenture_econ_disadv_WOSB,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority,hubzone
0,TOWNSEND MARINE INC,NaN,C111NFV4VEB6,NaN,9122610444,BRUNSWICK,GA,315253092,336612.0,BOAT BUILDING,...,f,f,f,f,f,f,f,f,f,f
1,MYLA DIXON & MARJORIE LEVI,NaN,C115TCG3UFD7,879401255.0,6183746062,ALTON,IL,620026653,561720.0,JANITORIAL SERVICES,...,f,f,f,f,f,f,f,f,f,f
2,MARZEN GROUP LLC,NaN,C116E6T5MGD6,124654893.0,6038899522,NASHUA,NH,30642278,511210.0,SOFTWARE PUBLISHERS,...,f,f,f,f,f,f,f,f,f,f
3,DOMINION ELECTRIC SUPPLY COMPANY OF WASHINGTON...,NaN,C11AB3DFZ3W6,NaN,2027890500,WASHINGTON,DC,200024217,423610.0,"ELECTRICAL APPARATUS AND EQUIPMENT, WIRING SUP...",...,f,f,f,f,f,f,f,f,f,f
4,"EMERALD COAST VISION AIDS, INC.",NaN,C11PMJJWBE25,829117527.0,8504738081.0,PENSACOLA,FL,325037245,541519.0,OTHER COMPUTER RELATED SERVICES,...,f,f,f,f,f,f,f,f,f,f

In [5]:
#check that the 2015 data has correctly transferred from csv files into DataFrames. 
df_2018.shape

(232828, 36)

In [6]:
#check that the 2016 data has correctly transferred from csv files into DataFrames. 
df_2019.head()

,Businessname,businessdba,Businessuei,businessduns,Phone,City,State,ZipCode,NAICS,NAICSDescription,...,jointVenture_WOSB,jointVenture_econ_disadv_WOSB,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority,hubzone
0,"AMERIQUAL GROUP, LLC",NaN,C114QV5R7YX8,NaN,8128671444,EVANSVILLE,IN,477258588,312111.0,SOFT DRINK MANUFACTURING,...,f,f,f,f,f,f,f,f,f,f
1,MYLA DIXON & MARJORIE LEVI,NaN,C115TCG3UFD7,879401255.0,6183746062.0,ALTON,IL,620026653,561720.0,JANITORIAL SERVICES,...,f,f,f,f,f,f,f,f,f,f
2,MARZEN GROUP LLC,NaN,C116E6T5MGD6,124654893.0,6038899522.0,NASHUA,NH,030642278,541519.0,OTHER COMPUTER RELATED SERVICES,...,f,f,f,f,f,f,f,f,f,f
3,DOMINION ELECTRIC SUPPLY COMPANY OF WASHINGTON...,NaN,C11AB3DFZ3W6,NaN,2027890500.0,WASHINGTON,DC,200024217,335121.0,RESIDENTIAL ELECTRIC LIGHTING FIXTURE MANUFACT...,...,f,f,f,f,f,f,f,f,f,f
4,ROCKY MOUNTAIN NATURAL MEATS LLC,NaN,C11GXLCB8VK3,194778171.0,3032877100,HENDERSON,CO,806408496,311611.0,ANIMAL (EXCEPT POULTRY) SLAUGHTERING,...,f,f,f,f,f,f,f,f,f,f

In [7]:
#check that the 2016 data has correctly transferred from csv files into DataFrames. 
df_2019.shape

(227774, 36)

In [8]:
#Merge the data from all the DataFrames based on the same "businessuei" data for every year. 
merged_df = df_2018.merge(df_2019, on='Businessuei', how='outer')

In [9]:
# Remove duplicates based on 'businessuei'
merged_df.drop_duplicates(subset='Businessuei', keep='first', inplace=True)
merged_df.head()

,Businessname_x,businessdba_x,Businessuei,businessduns_x,Phone_x,City_x,State_x,ZipCode_x,NAICS_x,NAICSDescription_x,...,jointVenture_WOSB_y,jointVenture_econ_disadv_WOSB_y,minority_owned_y,subcontinent_asian_indian_american_y,asian_pacific_american_y,black_american_y,hispanic_american_y,native_american_y,other_minority_y,hubzone_y
0,TOWNSEND MARINE INC,NaN,C111NFV4VEB6,NaN,9122610444,BRUNSWICK,GA,315253092,336612.0,BOAT BUILDING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MYLA DIXON & MARJORIE LEVI,NaN,C115TCG3UFD7,879401255.0,6183746062,ALTON,IL,620026653,561720.0,JANITORIAL SERVICES,...,f,f,f,f,f,f,f,f,f,f
17,MARZEN GROUP LLC,NaN,C116E6T5MGD6,124654893.0,6038899522,NASHUA,NH,30642278,511210.0,SOFTWARE PUBLISHERS,...,f,f,f,f,f,f,f,f,f,f
23,DOMINION ELECTRIC SUPPLY COMPANY OF WASHINGTON...,NaN,C11AB3DFZ3W6,NaN,2027890500,WASHINGTON,DC,200024217,423610.0,"ELECTRICAL APPARATUS AND EQUIPMENT, WIRING SUP...",...,f,f,f,f,f,f,f,f,f,f
27,"EMERALD COAST VISION AIDS, INC.",NaN,C11PMJJWBE25,829117527.0,8504738081.0,PENSACOLA,FL,325037245,541519.0,OTHER COMPUTER RELATED SERVICES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
merged_df.shape

(111874, 71)

In [13]:
selected_columns = [col.strip() for col in selected_columns]

In [14]:
#select the columns to keep in the merged DataFrame
selected_columns = [
    'businessdba', 'Businessuei', 'businessduns', 
    'Phone', 'City', 'State', 
    'ZipCode', 'NAICS', 'NAICSDescription',
    '2018_total_dollars_obligated', '2019_total_dollars_obligated', '2018_total_outlayed_amount_for_overall_award',
    '2019_total_outlayed_amount_for_overall_award', '2018_current_total_value_of_award', '2019_current_total_value_of_award', '2018_base_and_all_options_value', '2019_base_and_all_options_value', '2018_potential_total_value_of_award', '2019_potential_total_value_of_award',
    '2018_number_of_offers_received', '2019_number_of_offers_received', 'alaskan_native', 'american_indian', 'indian_tribe', 'native_hawaiian',
    'tribally_owned', 'veteran_owned', 'service_disabled_veteran', 'woman_owned', 'WOSB', 
    'econ_disadv_WOSB', 'jointVenture_WOSB', 'jointVenture_econ_disadv_WOSB', 'minority_owned',
    'subcontinent_asian_indian_american', 'asian_pacific_american', 'black_american', 'hispanic_american', 'native_american', 'other_minority', 'hubzone'
]

merged_df = merged_df[selected_columns]
merged_df.head()

KeyError: "['businessdba', 'businessduns', 'Phone', 'City', 'State', 'ZipCode', 'NAICS', 'NAICSDescription', 'alaskan_native', 'american_indian', 'indian_tribe', 'native_hawaiian', 'tribally_owned', 'veteran_owned', 'service_disabled_veteran', 'woman_owned', 'WOSB', 'econ_disadv_WOSB', 'jointVenture_WOSB', 'jointVenture_econ_disadv_WOSB', 'minority_owned', 'subcontinent_asian_indian_american', 'asian_pacific_american', 'black_american', 'hispanic_american', 'native_american', 'other_minority', 'hubzone'] not in index"

In [ ]:
#check the number of rows and columns in the newly merged DataFrame with all contracting data from 2015 to 2022
merged_df.shape

In [ ]:
#save the merged DataFrame to a new csv file in the same directory
merged_df.to_csv(directory_path + "All_2018to2019_Contracting.csv", index=False)