### Merging all Contracting Data from 2018 to 2019 in one file containing ONLY the businesses that received federal contracts those two years in a row.###

Step 3.1 in README

In [1]:
#importing dependencies
import pandas as pd

In [2]:
# File paths
file_2018 = r'F:\FAU PhD\DISSERTATION\DATABASES\DataTESTS\Oct.23.2023.Test\All_2018_Contracting.csv'
file_2019 = r'F:\FAU PhD\DISSERTATION\DATABASES\DataTESTS\Oct.23.2023.Test\All_2019_Contracting.csv'
output_file = r'F:\FAU PhD\DISSERTATION\DATABASES\DataTESTS\Oct.23.2023.Test\All_2018to2019_Contracting.csv'

In [3]:
# Read CSV files and remove leading/trailing spaces in headers
def read_clean_csv(file_path):
    df = pd.read_csv(file_path)
    df.columns = df.columns.str.strip()
    return df

In [4]:
# # Read CSV files, remove leading/trailing spaces in headers, and reorder columns
# def read_clean_csv(file_path):
#     df = pd.read_csv(file_path)
#     df.columns = df.columns.str.strip()
#     df = df[['businessdba', 'Businessuei', 'businessduns', 'Phone', 'City', 'State', 'ZipCode', 'NAICS',
#              'NAICSDescription', '2018_total_dollars_obligated', '2019_total_dollars_obligated',
#              '2018_total_outlayed_amount_for_overall_award', '2019_total_outlayed_amount_for_overall_award',
#              '2018_current_total_value_of_award', '2019_current_total_value_of_award',
#              '2018_base_and_all_options_value', '2019_base_and_all_options_value',
#              '2018_potential_total_value_of_award', '2019_potential_total_value_of_award',
#              '2018_number_of_offers_received', '2019_number_of_offers_received',
#              'alaskan_native', 'american_indian', 'indian_tribe', 'native_hawaiian', 'tribally_owned',
#              'veteran_owned', 'service_disabled_veteran', 'woman_owned', 'WOSB', 'econ_disadv_WOSB',
#              'jointVenture_WOSB', 'jointVenture_econ_disadv_WOSB', 'minority_owned',
#              'subcontinent_asian_indian_american', 'asian_pacific_american', 'black_american', 'hispanic_american',
#              'native_american', 'other_minority', 'hubzone']]
#     return df

In [5]:
# Read and clean the CSV files
df_2018 = read_clean_csv(file_2018)
df_2019 = read_clean_csv(file_2019)

C:\Users\mjndo\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.

C:\Users\mjndo\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
# Merge the dataframes based on "businessuei" and remove duplicates
merged_df = pd.merge(df_2018, df_2019, on="Businessuei", how="outer").drop_duplicates(subset="Businessuei")

In [ ]:
# # Merge the two dataframes
# merged_df = pd.concat([df_2018, df_2019], ignore_index=True)

In [8]:
merged_df.shape

(111874, 71)

In [9]:
merged_df.head()

,Businessname_x,businessdba_x,Businessuei,businessduns_x,Phone_x,City_x,State_x,ZipCode_x,NAICS_x,NAICSDescription_x,...,jointVenture_WOSB_y,jointVenture_econ_disadv_WOSB_y,minority_owned_y,subcontinent_asian_indian_american_y,asian_pacific_american_y,black_american_y,hispanic_american_y,native_american_y,other_minority_y,hubzone_y
0,TOWNSEND MARINE INC,NaN,C111NFV4VEB6,NaN,9122610444,BRUNSWICK,GA,315253092,336612.0,BOAT BUILDING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MYLA DIXON & MARJORIE LEVI,NaN,C115TCG3UFD7,879401255.0,6183746062,ALTON,IL,620026653,561720.0,JANITORIAL SERVICES,...,f,f,f,f,f,f,f,f,f,f
17,MARZEN GROUP LLC,NaN,C116E6T5MGD6,124654893.0,6038899522,NASHUA,NH,30642278,511210.0,SOFTWARE PUBLISHERS,...,f,f,f,f,f,f,f,f,f,f
23,DOMINION ELECTRIC SUPPLY COMPANY OF WASHINGTON...,NaN,C11AB3DFZ3W6,NaN,2027890500,WASHINGTON,DC,200024217,423610.0,"ELECTRICAL APPARATUS AND EQUIPMENT, WIRING SUP...",...,f,f,f,f,f,f,f,f,f,f
27,"EMERALD COAST VISION AIDS, INC.",NaN,C11PMJJWBE25,829117527.0,8504738081.0,PENSACOLA,FL,325037245,541519.0,OTHER COMPUTER RELATED SERVICES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Save the merged dataframe to a new CSV file
merged_df.to_csv(output_file, index=False)

print(f'Merged data saved to {output_file}')

Merged data saved to F:\FAU PhD\DISSERTATION\DATABASES\DataTESTS\Oct.23.2023.Test\All_2018to2019_Contracting.csv

In [ ]:
# # Save the merged dataframe to a new CSV file
# merged_df.to_csv(output_file, index=False)

# print(f'Merged data saved to {output_file}')